<h1 class="show__article--title"><%= @article.title %></h1>

<p class="show__article--content"><%= @article.content %></p>

<%= fa_icon "edit" %> <%= link_to "Edit this article", edit_article_path %>

<%= fa_icon "undo" %> <%= link_to "Back to the list", index_path %>
